[Desktop Entry]
Type=Application
Terminal=false
Name=Libinput Gestures
Exec=/bin/sudo -u mrigank -g input /usr/bin/libinput-gestures
Icon=libinput-gestures
Comment=Background application to intercept and action libinput gestures from touchpad.
Categories=GNOME;GTK;System;
